.content {
background: linear-gradient(45deg, yellow, lightGreen , deepskyBlue);
color: black;
display: flex;
flex-direction: column;
text-align: justify;
margin-left: 5%;
margin-right: 5%;
flex-wrap: wrap;
align-content: center;
justify-content: center;
margin-top: 3%;
font-size: auto;

}

h1{
    text-align: center;
    display: inline;
    position: relative;
    left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-form{
    display: flex;
    
position: relative;
left: 63%;
bottom: 24px;
height: 25px;
}

 img {
    width: 100%;
 }   
    


.p-b {
    position: relative;
    left: 65%;
    margin-top: 5px;
}

button {
    position: relative;
    height: 25px;
    width: 80px;
}

.attraction{
    
    margin: 5%;
    padding-bottom: 5%;
}

.how-to-play {
    
    margin: 5%;
}

.item{
    height: auto;
    position: relative;
    bottom: 5px;
    font-size: larger;
    width: 80%;
}

.introduction{
    
    margin: 5%;
}

.heading{
    font-family: sans-serif;
    
}
